<form method="POST" action="/character/<%= character.id %>/?_method=PUT"> 

    <label for="name">Name</label>
    <input type="text" name="name" value="<%= character.name%>">
  
    <label for="height">Height</label>
    <input id="height" type="text" name="height" value="<%= character.height%>">

    <label for="weight">Weight</label>
    <input id="weight" type="text" name="weight" value="<%= character.weight%>">

    <label for="playCount">Play Count</label>
    <input id="playCount" type="text" name="playCount" value="<%= character.strength%>">

    <label for="likes">Likes</label>
    <input id="likes" type="likes" name="likes" value="<%= character.constitution%>">

    <label for="year">Year</label>
    <input id="year" type="text" name="year" value="<%= character.wisdom%>">

    <label for="explicit">Explicit</label>
    <input id="explicit" type="text" name="explicit" value="<%= character.intelligence%>">

    <label for="explicit">Explicit</label>
    <input id="explicit" type="text" name="explicit" value="<%= character.charisma%>">

    <label for="explicit">Explicit</label>
    <input id="explicit" type="text" name="explicit" value="<%= character.race%>">

    <label for="explicit">Explicit</label>
    <input id="explicit" type="text" name="explicit" value="<%= character.class%>">
  
    <input type="submit">
  </form>





    