<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <a href="/account/newSchedule">Veiw Scheduled times</a>
    <h1>Monday: <%= Schedule.monday %></h1>
    <h1>Tuesday: <%= Schedule.tuesday %></h1>
    <h1>Wednesday: <%= Schedule.wednesday %></h1>
    <h1>Thursday: <%= Schedule.thursday %></h1>
    <h1>Friday: <%= Schedule.friday %></h1>
    <h1>Saturday: <%= Schedule.saturday %></h1>
    <h1>Sunday: <%= Schedule.sunday %></h1>


</body>
</html>