<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <a href="/account">Veiw Scheduled times</a>
    <h1>Monday: <%= calendar.monday %></h1>
    <h1>Tuesday: <%= calendar.tuesday %></h1>
    <h1>Wednesday: <%= calendar.wednesday %></h1>
    <h1>Thursday: <%= calendar.thursday %></h1>
    <h1>Friday: <%= calendar.friday %></h1>
    <h1>Saturday: <%= calendar.saturday %></h1>
    <h1>Sunday: <%= calendar.sunday %></h1>

</body>
</html>