<form method="POST" action="/schedule/<%= schedule.id %>/?_method=PUT">
    <label for="monday">Monday</label>
    <input type="text" name="monday" value="<%= schedule.monday %>">
  
    <label for="tuesday">Tuesday</label>
    <input id="tuesday" type="text" name="tuesday" value="<%= schedule.tuesday %>">

    <label for="wednesday">Wednesday</label>
    <input id="wednesday" type="text" name="wednesday" value="<%= schedule.wednesday %>">

    <label for="thursday">Thursday</label>
    <input id="thursday" type="text" name="thursday" value="<%= schedule.thursday %>">

    <label for="friday">Friday</label>
    <input id="friday" type="text" name="friday" value="<%= schedule.friday %>">

    <label for="saturday">Saturday</label>
    <input id="saturday" type="text" name="saturday" value="<%= schedule.saturday %>">

    <label for="sunday">Sunday</label>
    <input id="sunday" type="text" name="sunday" value="<%= schedule.sunday %>">

    <input type="submit">
  </form>